.send-icon {
  width: 20px;
}

.btn-send {
  position: absolute;
  right: calc(2vw + 20px);
  top: 32px;
}

.textarea-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  min-height: 40px;
  border-radius: 10px;
  border: 0.5px solid grey;
}

textarea {
  height: 20px;
  max-height: 120px;
  padding: 5px 15px;
  font-size: 17px;
  width: 100%;
  border-radius: 10px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  border: none;
}

textarea::-webkit-input-placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #999;
}

textarea::-moz-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

textarea:-ms-input-placeholder {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #999;
}

textarea::-ms-input-placeholder {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #999;
}

textarea::placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #999;
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgb(209, 209, 209);
  position: fixed;
  bottom: 0;
  height: 85px;
  max-height: 130px;
  background-color: #fbfbfb;
}

.input-field-large {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  left: 230px;
  right: 0;
  /* right: 0; */
}

.input-field-small {
  width: 100%;
}